{% extends "network/layout.html" %}

{% load static %}

{% block body %}
    <div class="post-container">
        <div class="post-button">
            <button class="form-button">
                <p>New Post</p>
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="profile-container">
        <div class="header">
            <div class="username">
                <p id="profile-username">{{userDets.username}}</p>
            </div>
            <div class="user-details">
                <div class="follow-details">
                    <div class="followers">{{followers}} <strong>Followers</strong></div>
                    <div class="following">{{followings}} <strong>Followings</strong></div>
                </div>
            </div>
        </div>
        <div class="posts-container">
            <div class="title">
                <p class=".name">Uploaded Posts</p>
                <div class="page-num">
                    <p id="title">Page:</p>
                    <p id="num">0</p>
                </div>
            </div>    
            <div class="posts" id="posts-self">
            </div>
        </div>
    </div>

    <div class="pagination">
        <div class="previous">
            <i class="fa-solid fa-chevron-left left"></i>
        </div>
        <div class="pages">
        </div>
        <div class="next">
            <i class="fa-solid fa-chevron-right right"></i>
        </div>
    </div>
    
        
{% endblock body %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock script %}